@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.page-implementer {
	@include page-default-styles;
	counter-reset: item 0;

	> div.note {
		margin: 1.5rem 0;
	}

	.cardItem {
		@include card;

		&::before {
			opacity: 0;
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: -20px;
		}
	}
}
