@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.page-rule {
	@include page-default-styles;
	margin: 0;
	padding-bottom: 3rem;
	padding-top: 3rem;
	overflow-y: auto;

	div.open-ex-new-tab-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: baseline;

		> h4 {
			margin-bottom: 0;
		}
	}

	ul.meta,
	div.meta {
		@include reset-list();
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		h3.heading,
		span.heading {
			padding: 0.25rem 0.5rem;
			background-color: $sep;
			border: 1px solid $transparent;
			text-transform: capitalize;
			display: inline-flex;
			font-weight: bold;
			margin-top: 1em;
			font-size: 90%;
			color: $fg-primary;
			cursor: auto;
			&:hover {
				text-decoration: none;
			}
		}
		p {
			margin: 0;
			display: block;
			padding: 0.25rem 0.5rem;
			text-transform: capitalize;
		}
		a.sc-item {
			cursor: pointer;
			text-transform: capitalize;
			&:hover {
				opacity: 0.9;
			}
			&.block {
				display: block;
				p {
					margin: 0;
					padding: 0;
				}
			}
		}
	}
}
