$bg-primary: #ffffff;
$bg-secondary: rgb(9, 24, 50);

$fg-primary: rgb(0, 51, 102);
$fg-secondary: #fefefe;

$sep: #f3f4f6;
$accent: #2aabff;

$black: black;
$transparent: transparent;

$success: #00a4b8;
$error: #ff3c81;
$warning: #ffa181;

$shadow: 1px 1px 5px rgba($black, 0.25);
$shadow-right: 2px 0px 5px 2px rgba($black, 0.25);

$nav-w: 225px;
