@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.page-glossary {
	@include page-default-styles;

	.listing {
		> article {
			padding: 1rem;
			position: relative;
			background-color: rgba($sep, 0.5);
			box-shadow: 0px 0px 12px rgba($black, 0.2);
			margin-bottom: 1.5rem;
			display: flex;

			&:hover {
				outline: 2px solid $accent;
			}

			h2,
			h3 {
				margin: 0;
			}
			i {
				font-family: 'Courier New', Courier, monospace;
			}
			> section {
				flex: 1;
				padding-right: 0.5rem;
			}

			> div.used-rules {
				padding: 1.5rem;
				padding-left: 0;
				width: 30%;
				ul {
					@include reset-list;
				}
				a {
					display: block;
					text-transform: capitalize;
					p {
						margin: 0.25rem;
					}
				}
			}
		}

		&.sm,
		&.md {
			> article {
				flex-direction: column;
				> aside {
					width: 100% !important;
				}
				> div.used-rules {
					width: 100% !important;
				}
			}
		}
	}
}
