@import '../styles//variables.scss';
@import '../styles/mixins.scss';

.page-rules {
	@include page-default-styles;
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
	width: 100%;

	h1 {
		border: none;
		padding: 0.5rem 0;
		margin-bottom: 0;
	}

	> header.titleAndFilter {
		display: flex;
		align-items: center;

		> h1 {
			flex: 1;
		}
	}

	> section.content {
		padding: 1rem 0rem;
	}

	&.sm {
		>header.titleAndFilter {
			display: block;

			> form {
				padding: 1rem 0;
				input {
					width: 100%;
				}
			}
		}
	}
}
