@import "../styles/variables.scss";
@import "../styles/mixins.scss";

div.badge {
  display: inline-flex;
  align-items: center;
  font-size: 85%;
  font-weight: bold;
  margin-right: 1rem;

  > span.title {
    font-style: italic;
    font-weight: normal;
    padding-right: 0.15rem;
    margin-right: 0.15rem;
    text-transform: capitalize;
    text-align: right;
  }
}
