@import '../styles/base';
@import '../styles/variables';
@import '../styles/mixins';
@import '../styles/prism-a11y';

section.layoutContainer {
	@include fixed-stretch();
	overflow: hidden;
	display: flex;

	> main {
		@include flex-column();
		width: 100%;
		background-color: $bg-primary;
		> section {
			@include flex-row();
			@include flex-scroll-container();
			color: $black;
			line-height: 1.5;
		}
	}

	&.hasMenu {
		> main {
			width: calc(100% - #{$nav-w});
		}
	}
}
