@import "../styles/base";
@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/prism-a11y";

section.layoutContainer {
  @include fixed-stretch();
  overflow: hidden;
  display: flex;

  > main {
    @include flex-column();
    width: 100%;
    > section {
      @include flex-row();
      @include flex-scroll-container();
      color: $black;
      line-height: 1.5;

      .toc {
        border-left: 1px solid $sep;
        min-width: 225px;
        max-width: 300px;
        overflow: auto;
        font-size: 85%;
        padding-bottom: 3rem;

        span.heading {
          padding: 0.25rem 0.5rem;
          @include header-style($fg-primary);
          text-transform: capitalize;
          background-color: $sep;
          margin: 1rem 0.5rem 0.5rem 0;
          display: inline-block;
          &:first-child {
            margin-top: 6rem;
          }
        }

        ul {
          @include reset-list;
          margin: 0.5rem 0;
          li {
            span,
            a {
              display: inline-block;
            }
            a {
              cursor: pointer;
              text-decoration: none;
              padding: 0rem 1rem;
              display: block;
              &:hover {
                color: $accent;
              }
            }
          }
          ul {
            margin-left: 1rem;
          }
        }
      }
    }
  }

  &.hasMenu {
    > main {
      width: calc(100% - #{$nav-w});
    }
  }
}
