@import '../styles/variables.scss';

div.note {
	padding: 0.5rem 1rem;
	border: 1px solid $accent;
	border-left-width: 4px;
	background-color: rgba($accent, 0.4);

	> b {
		padding: 0.25rem 0;
		text-transform: uppercase;
		display: block;
		margin: 0;
	}

	> p {
		margin: 0;
	}

	&.valid {
		border-color: $success;
		background-color: rgba($success, 0.4);
	}

	&.invalid {
		border-color: $warning;
		background-color: rgba($warning, 0.4);
	}
}
